.personal-info {
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all 0.7s ease-in-out;
    box-sizing: border-box;
}

.name {
    font-family: serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    position: relative;
    color: #2e2e2e;
}

.initials,
.full-name {
    margin: 0;
    padding: 0;
    font-weight: 100;
    position: relative;
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.initials {
    top: -5%;
}

.full-name {
    bottom: -5%;
}

.full-name--animate {
    bottom: 0;
    opacity: 1;
}

.initials--animate {
    top: 0;
    opacity: 1;
}

.initials {
    font-size: 10vw;
    line-height: 1;
    letter-spacing: 0.1em;
    margin: 0;
}

.full-name {
    font-size: 2vw;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.info-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info {
    flex: 1.5;
    background-color: #2e2e2e;
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about {
    width: 50%;
    text-align: justify;
    text-justify: distribute;
    font-weight: 300;
}

.about__title,
.about__description {
    opacity: 0;
    transition: all 0.7s ease-in-out;
}

.about__title--animate,
.about__description--animate {
    opacity: 1;
}


.contact {
    width: 50%;
}

.contact__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact__item {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
}

.contact__item a {
    color: #efefef;
}

.contact__icon {
    width: 1.25em;
    height: 1.25em;
    margin-right: 0.5em;
    background-color: #fff;
    border-radius: 50%;
    padding: 0.2em;
    box-sizing: content-box;
    position: relative;
    top: 0.1em;
}

@media screen and (max-width: 1024px) {
    .initials {
        font-size: 12vw;
    }
}

@media screen and (max-width: 768px) {
    .initials {
        font-size: 14vw;
    }
}

@media screen and (max-width: 412px) {
    .personal-info {
        flex-direction: column;
    }

    .info {
        clip-path: none;
    }

    .initials {
        font-size: 7em;
    }

    .full-name {
        width: 100%;
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #efefef;
        font-size: 1em;
        box-shadow: 0 0 5px 5px rgba(239, 239, 239, 1)
    }
}